<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arthur.mobileapps.com.vendingmachine" >

    <application
        android:name="arthur.mobileapps.com.vendingmachine.ApplicationManager"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:noHistory="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.views.VendingActivity"
            android:label="@string/title_activity_vending"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:theme="@style/CustomActionBarTheme">
        </activity>
    </application>

</manifest>
